AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DYNAMODB_TABLE_NAME=jenkinsexecutions_test
COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_ISSUER=
COGNITO_DOMAIN=
FRONTEND_REDIRECT_URI=http://localhost:4200/auth
COGNITO_IDENTITY_PROVIDER=AzureAD
LOG_LEVEL=info
PORT=4000
